<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>INICIO</title>
        <link href="style.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="libcapas.js"></script>
    </head>
    
    <body>
        <div id="leftPan">
            <h2>Directiva AMPA</h2>
            <h2><span>MAX AUB</span></h2>
            <p>&nbsp;</p>            
            <p>&nbsp;</p>
            <table class="table" width="800" border="0">
              <tr class="table1">
                <td>Nom</td>
                <td>Càrrec Directiva</td>
                <td>Responsabilitat</td>
              </tr>
              <tr>
                <td>Amparo Jesús-María</td>
                <td>Presidenta</td>
                <td>FAPA</td>
              </tr>
              <tr>
                <td>Iñaki Mazkiarán</td>
                <td>Vicepresident</td>
                <td>Comissió pro-millores</td>
              </tr>
              <tr>
                <td>Carmen Gutiérrez</td>
                <td>Secretària</td>
                <td>Extraescolars Municipals i campament</td>
              </tr>
              <tr>
                <td>Silvia Jiménez</td>
                <td>Sotssecretària</td>
                <td>Formació de mares i pares i Web</td>
              </tr>
              <tr>
                <td>Esther Lázaro</td>
                <td>Tresorera</td>
                <td>Comissió econòmica, Loteria, Campament i extraescolars municipals</td>
              </tr>
              <tr>
                <td>David Ortolá</td>
                <td>Comptable</td>
                <td>Comissió econòmica i Loteria</td>
              </tr>
              <tr>
                <td>Alícia Giménez</td>
                <td>Vocal</td>
                <td>Socialització de llibres, Campament, Trobades y al eixir de classe</td>
              </tr>
              <tr>
                <td>Ana Mª Moreno</td>
                <td>Vocal</td>
                <td>Arco Iris i Comissió socialització de llibres</td>
              </tr>
              <tr>
                <td>Marián Rubi</td>
                <td>Vocal</td>
                <td>Arco Iris</td>
              </tr>
              <tr>
                <td>Mayte Piñol</td>
                <td>Tresorera</td>
                <td>Comissió econòmica i Loteria</td>
              </tr>
              <tr>
                <td>Mar March</td>
                <td>Vocal</td>
                <td>Trobades, CAPPEV</td>
              </tr>
              <tr>
                <td>Jose A. Rodriguez</td>
                <td>Vocal</td>
                <td>Festes</td>
              </tr>
              <tr>
                <td>Ana Vicente</td>
                <td>Vocal</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Laura Tenés</td>
                <td>Vocal</td>
                <td>Festes i campament</td>
              </tr>
              <tr>
                <td>Paco Carrión</td>
                <td>Vocal</td>
                <td>Cooperació i Web</td>
              </tr>
            </table>
                
            <p>Descargar estatutos del AMPA Max Aub <a href="estatutos.doc"><img src="images/arrow1.gif" /></a></p>
            <p>Correu electrònic: <strong style="color:#09F">ampa.maxaub@gmail.com</strong></p>
            <p>Telèfon de Setembre a Juny (de 17 a 19 h.): <strong style="color:#09F">616857967</strong></p>            
            <p>&nbsp;</p>
        </div>
    </body>
</html>