<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>CONTACTO</title>
        <link href="style.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="libcapas.js"></script>
    </head>
    
    <body>
        <div id="leftPan">
            <div >
              <div align="center"><strong>SOLICITUD DE INSCRIPCIÓN / SOL·LICITUD D’INSCRIPCIÓ</strong></div>
              <div align="center"><strong>BANCO DE LIBROS MAX AUB / BANC DE LLIBRES MAX AUB</strong></div>
              <div align="center"><strong>2015-2016</strong></div>
            </div>

            <div >
              <blockquote>
                <p align="justify">	El Banco de Libros pertenece al centro y estará formado únicamente por alumnado de 3º a 6º de Primaria. Formarán parte del Banco de Libros los libros de materias comunes: Matemáticas, Castellano, Valenciano, Ciencias Sociales y Ciencias Naturales. Los libros de actividades como plástica, el activity book de Inglés, Alternativa, Religión y Música quedan fuera del Banco de Libros. <strong>Los libros serán propiedad del Banco de Libros.</strong><br/>
                El plazo para realizar la inscripción será hasta el <strong>11 de junio</strong>, fecha en la cual habrá que rellenar  esta solicitud de inscripción.<br/>

                  Las personas interesadas en participar en el Banco de Libros recibirán información detallada del proceso en los próximos días además de un correo electrónico.    </p>
                <p>
                  El Banc de Llibres pertany al centre i estarà format únicament per alumnat de 3r a 6è de Primària. Formaran part del Banc de Llibres els llibres de matèries comunes: Matemàtiques, Castellà, Valencià, Ciències Socials i Ciències Naturals. Els   llibres d'activitats com plàstica, l'activity book d'Anglés, Alternativa, Religió i Música queden fora del Banc de Llibres. <strong>Els llibres serán propietat del Banc de Llibres.</strong><br/>
                El termini per a realitzar la inscripció serà fins al <strong>11 de juny</strong>, data en la qual caldrà rellenar aquesta sol·licitud d'inscripció.<br/>
                Les persones interessades a participar en el Banc de Llibres rebran informació detallada del procés en els propers dies a mes de un correu electrònic.
              </p>
              </blockquote>
            </div>

            <div >
              <div align="center"><strong>INSCRIPCIÓN EN EL BANCO DE LIBROS MAX AUB</strong></div>
              <div align="center"><strong>INSCRIPCIÓ EN EL BANC DE LLIBRES MAX AUB</strong></div>
                <div align="center">----------------------------------------------------------------Datos del alumno/Dades del alumne----------------------------------------------------------------</div>
            </div>

            <div align="center">
            <form action="" method="post">
              <table>
              <tr>
                    <td>Nombre del alumno/a:</td>
                    <td rowspan="2"><input type="text" name="nombre" value="" /></td>
              </tr>
              <tr>
                    <td>Nom del alumne/a:</td>
              </tr>
              </table> 
              <table>
              <tr>
                    <td>Apellidos del alumno/a:</td>
                    <td rowspan="2"><input type="text" name="apellidos" value="" /></td>
              </tr>
              <tr>
                    <td>Cognoms del alumne/a:</td>
              </tr>
              </table>
              <table>
              <tr>
                    <td>Edad:</td>
                <td rowspan="2"><input type="text" name="edad" value="" /></td>
              </tr>
              <tr>
                    <td>Edat:</td>
              </tr>
              </table>
              <table>
              <tr>
                    <td><label for="cursoA">Curso actual:</label></td>
                <td rowspan="2">
              <select id="cursoA" name="cursoA">
              <option value="3º" selected="selected">3º tercero/tercer</option>
              <option value="4º">4º cuarto/cuart</option>
              <option value="5º">5º quinto/cinqué</option>
              <option value="6º">6º sexto/sisé</option>
              </select></td>
                    <td><label for="cursoF">Curso futuro:</label></td>
                <td rowspan="2">
              <select id="cursoF" name="cursoF">
              <option value="3º">3º tercero/tercer</option>
              <option value="4º" selected="selected">4º cuarto/cuart</option>
              <option value="5º">5º quinto/cinqué</option>
              <option value="6º">6º sexto/sisé</option>
              </select></td>
              </tr>
              <tr>
                    <td>Curs actual:</td>
                <td>Curs futur:</td>
              </tr>
              </table>
              <table>
              <tr>
                    <td>Subgrupo:</td>
                <td rowspan="2">
                    <input type="radio" name="subgrupo" value="castellano" checked="checked" /> Castellano/Castellà
                    <input type="radio" name="subgrupo" value="valenciano"  /> Valenciano/Valencià</td>
              </tr>
              <tr>
                    <td>Subgrup:</td>
              </tr>
              </table>
              <table>
              <tr>
                    <td>Desea recibir optativas:</td>
                <td rowspan="2">
                <input type="radio" name="optativas" value="si" /> Si
                    <input type="radio" name="optativas" value="no" checked="checked"  /> No </td>
              </tr>
              <tr>
                    <td>Desitja rebre optatives:</td>
              </tr>
              </table>
              <br/>
              </form>
            </div>

            <div align="center">----------------------------------------------------------------Datos del padre, madre o tutor/Dades del pare, mare o tutor-----------------------------------------------------</div>

            <div align="center">  
              <table>
              <tr>
                    <td>Nombre del padre, madre o tutor:</td>
                <td rowspan="2"><input type="text" name="nombre" value="" /></td>
              </tr>
              <tr>
                    <td>Nom del pare, mare o tutor:</td>
              </tr>
              </table>
              <table>
              <tr>
                    <td>Apellidos del padre, madre o tutor:</td>
                <td rowspan="2"><input type="text" name="nombre" value="" /></td>
              </tr>
              <tr>
                    <td>Cognoms del pare, mare o tutor:</td>
              </tr>
              </table>
              DNI:
              <input type="text" name="dni" value="" />

              <br/>
              <table>
              <tr>
                    <td>Contraseña:</td>
                <td rowspan="2"><input type="password" name="pass" value="" /></td>
              </tr>
              <tr>
                    <td>Contrasenya:</td>
              </tr>
              </table>
              <table>
              <tr>
                    <td>Dirección:</td>
                <td rowspan="2"><input type="text" name="direccion" value="" /></td>
              </tr>
              <tr>
                    <td>Direcció:</td>
              </tr>
              </table>
              <table>
              <tr>
                    <td>Teléfono:</td>
                <td rowspan="2"><input type="text" name="direccion" value="" /></td>
              </tr>
              <tr>
                    <td>Telèfon:</td>
              </tr>
              </table>
              <table>
              <tr>
                    <td>Correo Electrónico:</td>
                <td rowspan="2"><input type="text" name="email" value="" /></td>
              </tr>
              <tr>
                    <td>Correu Electrònic:</td>
              </tr>
              </table>
              <table>
              <tr>
                    <td>¿Desea participar en el banco de libros?</td>
                <td rowspan="2">
                <input type="radio" name="participar" value="si" checked="checked" /> Si
                    <input type="radio" name="participar" value="no"  /> No </td>
              </tr>
              <tr>
                    <td>¿Desitja participar amb el banc de llibres?</td>
              </tr>
              </table>
              <table>
              <tr>
                    <td>¿Acepta el envio de WhatsApp?</td>
                <td rowspan="2">
                <input type="radio" name="wasap" value="si"  /> Si
                    <input type="radio" name="wasap" value="no" checked="checked" /> No</td>
              </tr>
              <tr>
                    <td>¿Accepta l'enviament de WhatsApp?</td>
              </tr>
              </table>
            </div>

            <div >
              <blockquote>
              <p align="justify">	El Banco de libros es un proyecto que sale adelante gracias a la colaboración de madres y padres
            que desinteresadamente dedican su tiempo a esta labor. 
            Si puedes echar una mano este año, por favor, marca la casilla con un si.<br/>

            El Banc de Llibres és un projecte que va endavant gràcies a la col·laboració de mares y pares que
            desinteressadament dediquen el seu temps a aquesta tasca.  
            Si pots tirar una mà aquest any, per favor, marca amb un si la casella. 
              </p>
              <p align="justify">	Al enviar la solicitud su registro quedará completado. RECUERDE que su usario será el DNI y la contraseña la que se ha rellenado anteriormente.<br/>

            Al enviar la sol·licitud el seu registre quedarà completat. RECORDA que el seu usuari serà el DNI y la contrasenya la que sa cumplimentat anteriorment.
              </p>
              </blockquote>
             <table>
              <tr>
                    <td>¿Quieres ayudar en el banco de libros?</td>
                <td rowspan="2">
                <input type="radio" name="ayudar" value="si"  /> Si
                    <input type="radio" name="ayudar" value="no" checked="checked" /> No</td>
              </tr>
              <tr>
                    <td>¿Vols ajudar amb el banc de llibres?</td>
              </tr>
              </table>
            </div>

            <div align="center">  
              <input type="submit" value="Enviar" />
            </div>
        </div>
</body>
</html>
