<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>INICIO</title>
        <link href="style.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="libcapas.js"></script>
    </head>
    
    <body>
        <div id="leftPan">
            <h2>Libros educativos 2015-2016</h2>
            <h2><span>MAX AUB</span></h2>
            <p>&nbsp;</p>
            <p>Pulsar para descargar en pdf la lista de libros para los distintos cursos del año academico 2015-2016.</p>
            <p>&nbsp;</p>
            <ul>
            <h2>Segundo Ciclo</h2>
                <p>Descargar libros de 3ºA de primaria - Curso 2015-2016 <a href="libros 3ºA 15-16.pdf"><img src="images/arrow1.gif" /></a></p>
                <p>Descargar libros de 3ºB de primaria - Curso 2015-2016 <a href="libros 3ºB 15-16.pdf"><img src="images/arrow1.gif" /></a></p>
                <p>Descargar libros de 4ºA de primaria - Curso 2015-2016 <a href="libros 4ºA 15-16.pdf"><img src="images/arrow1.gif" /></a></p>          
                <p>Descargar libros de 4ºB de primaria - Curso 2015-2016 <a href="libros 4ºB 15-16.pdf"><img src="images/arrow1.gif" /></a></p>
                <p>&nbsp;</p>
            <h2>Tercer Ciclo</h2>
                <p>Descargar libros de 5ºA de primaria - Curso 2015-2016 <a href="libros 5ºA 15-16.pdf"><img src="images/arrow1.gif" /></a></p>
                <p>Descargar libros de 5ºB de primaria - Curso 2015-2016 <a href="libros 5ºB 15-16.pdf"><img src="images/arrow1.gif" /></a></p>
                <p>Descargar libros de 6ºA de primaria - Curso 2015-2016 <a href="libros 6ºA 15-16.pdf"><img src="images/arrow1.gif" /></a></p>          
                <p>Descargar libros de 6ºB de primaria - Curso 2015-2016 <a href="libros 6ºB 15-16.pdf"><img src="images/arrow1.gif" /></a></p>
                <p>&nbsp;</p>
            </ul>
        </div>
    </body>
</html>