<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
	<!-- Unidad de persistencia definida en modo JPA 2.0 -->
	<persistence-unit name="iriaModel2" transaction-type="JTA">
		<provider>org.apache.openjpa.persistence.PersistenceProviderImpl</provider>

		<!--jta-data-source>jdbc/iriaModel2</jta-data-source--> 
		<jta-data-source>java:comp/env/jdbc/iriaModel2</jta-data-source>

		<class>es.ine.iria.db.AccesoImport</class>
		<class>es.ine.iria.db.AccesoImportPK</class>
		<class>es.ine.iria.db.AccesoRapidoMere</class>
		<class>es.ine.iria.db.AccesoRapidoMerePK</class>
		<class>es.ine.iria.db.Accion</class>
		<class>es.ine.iria.db.AccionMasivaGecu</class>
		<class>es.ine.iria.db.AccionMetodoRecogida</class>
		<class>es.ine.iria.db.AccionMetodoRecogidaPK</class>
		<class>es.ine.iria.db.AmbitoAccion</class>
		<class>es.ine.iria.db.AmbitoEntidadContexto</class>
		<class>es.ine.iria.db.Aplicacion</class>
		<class>es.ine.iria.db.AplicacionIdioma</class>
		<class>es.ine.iria.db.AplicacionIdiomaPK</class>
		<class>es.ine.iria.db.AsigDispositivoCapi</class>
		<class>es.ine.iria.db.AsignacionCati</class>
		<class>es.ine.iria.db.AsignacionUmeUnidadRecogidaCuestionario</class>
		<class>es.ine.iria.db.AsignacionUmre</class>
		<class>es.ine.iria.db.AsignacionUmrePK</class>
		<class>es.ine.iria.db.BajaUm</class>
		<class>es.ine.iria.db.BajaUme</class>
		<class>es.ine.iria.db.BajaUmEconomica</class>
		<class>es.ine.iria.db.BajaUmPersona</class>
		<class>es.ine.iria.db.BajaUmVivienda</class>
		<class>es.ine.iria.db.BajaUmOtraEntidad</class>
		<class>es.ine.iria.db.BlobCarga</class>
		<class>es.ine.iria.db.BlobWebService</class>
		<class>es.ine.iria.db.BolsaTelefonoUme</class>
		<class>es.ine.iria.db.BolsaTelefonoUmePK</class>
		<class>es.ine.iria.db.BusquedaExterna</class>
		<class>es.ine.iria.db.BuzonMensaje</class>
		<class>es.ine.iria.db.CalendarioEncuesta</class>
		<class>es.ine.iria.db.CalendarioEncuestaMere</class>
		<class>es.ine.iria.db.CalendarioEncuestaMerePK</class>
		<class>es.ine.iria.db.CalendarioUsuario</class>
		<class>es.ine.iria.db.Campo</class>
		<class>es.ine.iria.db.CampoPK</class>
		<class>es.ine.iria.db.CampoAuxiliar</class>
		<class>es.ine.iria.db.CampoAuxiliarPK</class>
		<class>es.ine.iria.db.CampoBREncuesta</class>
		<class>es.ine.iria.db.CampoBREncuestaPK</class>
		<class>es.ine.iria.db.CampoBusquedaExterna</class>
		<class>es.ine.iria.db.CampoBusquedaExternaPK</class>
		<class>es.ine.iria.db.CampoBusquedaMultiencuesta</class>
		<class>es.ine.iria.db.CampoBusquedaMultiencuestaPK</class>
		<class>es.ine.iria.db.CampoBusquedaRapida</class>
		<class>es.ine.iria.db.CampoBusquedaRapidaPK</class>
		<class>es.ine.iria.db.CampoClavePrimariaAuxiliar</class>
		<class>es.ine.iria.db.CampoClavePrimariaAuxiliarPK</class>
		<class>es.ine.iria.db.CampoConsultaCompleja</class>
		<class>es.ine.iria.db.CampoConsultaComplejaPK</class>
		<class>es.ine.iria.db.CampoIdioma</class>
		<class>es.ine.iria.db.CampoIdiomaPK</class>
		<class>es.ine.iria.db.CampoNavegacion</class>
		<class>es.ine.iria.db.CanalEntrada</class>
		<class>es.ine.iria.db.CanalEntradaPK</class>
		<class>es.ine.iria.db.CanalPermitido</class>
		<class>es.ine.iria.db.CanalPermitidoPK</class>
		<class>es.ine.iria.db.CargaRespuestas</class>
		<class>es.ine.iria.db.CargaRespuestasOtro</class>
		<class>es.ine.iria.db.CargaRespuestasOtroValidacion</class>
		<class>es.ine.iria.db.CargaRespuestasValidacion</class>
		<class>es.ine.iria.db.CategoriaRol</class>
		<class>es.ine.iria.db.CawiAccesoUnico</class>
		<class>es.ine.iria.db.CawiAccesoUnicoPK</class>
		<class>es.ine.iria.db.CawiAvisoCuestionarioDisponible</class>
		<class>es.ine.iria.db.CawiAvisoCuestionarioDisponiblePK</class>
		<class>es.ine.iria.db.CawiAvisoRegistro</class>
		<class>es.ine.iria.db.CawiAvisoRegistroPK</class>
		<class>es.ine.iria.db.CawiCuestionario</class>
		<class>es.ine.iria.db.CawiCuestionarioPK</class>
		<class>es.ine.iria.db.CawiEncuesta</class>
		<class>es.ine.iria.db.CawiEncuestaPK</class>
		<class>es.ine.iria.db.CawiEncuestaDemo</class>
		<class>es.ine.iria.db.CawiUmePK</class>
		<class>es.ine.iria.db.CawiUme</class>
		<class>es.ine.iria.db.CawiUnidadRecogida</class>
		<class>es.ine.iria.db.CawiUnidadRecogidaPK</class>
		<class>es.ine.iria.db.CawiUnidadRecogidaEncu</class>
		<class>es.ine.iria.db.CawiUnidadRecogidaEncuPK</class>
		<class>es.ine.iria.db.Certificado</class>
		<class>es.ine.iria.db.Cita</class>
		<class>es.ine.iria.db.CitaIndirectaHora</class>
		<class>es.ine.iria.db.CitaIndirectaHoraPK</class>
		<class>es.ine.iria.db.ClavePrimariaAuxiliar</class>
		<class>es.ine.iria.db.CodigoAuxiliar</class>
		<class>es.ine.iria.db.CodigoAuxiliarPK</class>
		<class>es.ine.iria.db.CodigoPostal</class>
		<class>es.ine.iria.db.CodigoPostalPK</class>
		<class>es.ine.iria.db.ColaEnvioEtiqueta</class>
		<class>es.ine.iria.db.ColumnaJoin</class>
		<class>es.ine.iria.db.ColumnaJoinPK</class>
		<class>es.ine.iria.db.ComisionServicio</class>
		<class>es.ine.iria.db.ComisionServicioDesplazamiento</class>
		<class>es.ine.iria.db.ComunidadAutonoma</class>
		<class>es.ine.iria.db.ConsultaCompleja</class>
		<class>es.ine.iria.db.ContextoWorkflow</class>
		<class>es.ine.iria.db.ContextoWorkflowClase</class>
		<class>es.ine.iria.db.ContextoWorkflowClasePK</class>
		<class>es.ine.iria.db.Cuestionario</class>
		<class>es.ine.iria.db.CuestionarioCarga</class>
		<class>es.ine.iria.db.CuestionarioCargaPK</class>
		<class>es.ine.iria.db.CuestionarioEncuesta</class>
		<class>es.ine.iria.db.CuestionarioEncuestaPK</class>
		<class>es.ine.iria.db.DocumentoAnexo</class>
		<class>es.ine.iria.db.CuestionarioIdioma</class>
		<class>es.ine.iria.db.CuestionarioIdiomaPK</class>
		<class>es.ine.iria.db.DatcoFiltros</class>
		<class>es.ine.iria.db.DatcoFiltrosPK</class>
		<class>es.ine.iria.db.DefaultTemplate</class>	
		<class>es.ine.iria.db.DemonioBD</class>	
		<class>es.ine.iria.db.DemonioBDProperties</class>
		<class>es.ine.iria.db.DemonioBDPropertiesPK</class>	
		<class>es.ine.iria.db.DemonioBDResultados</class>
		<class>es.ine.iria.db.DemonioBDResultadosPK</class>
		<class>es.ine.iria.db.DiaFestivoNacional</class>
		<class>es.ine.iria.db.DiaFestivoUnidadRecogida</class>
		<class>es.ine.iria.db.DiaFestivoUnidadRecogidaPK</class>
		<class>es.ine.iria.db.DiccionarioColumnCuestionario</class>
		<class>es.ine.iria.db.DiccionarioColumnCuestionarioPK</class>
		<class>es.ine.iria.db.DiccionarioEstructuraCuestionario</class>
		<class>es.ine.iria.db.DiccionarioTablaCuestionario</class>
		<class>es.ine.iria.db.DiccionarioTablaCuestionarioPK</class>
		<class>es.ine.iria.db.DisenyoVideograbacion</class>
		<class>es.ine.iria.db.DisenyoVideograbacionPK</class>
		<class>es.ine.iria.db.DispositivoCapi</class>
		<class>es.ine.iria.db.DocumentoMetodologico</class>
		<class>es.ine.iria.db.DocumentoMetodologicoIdioma</class>
		<class>es.ine.iria.db.DocumentoMetodologicoIdiomaPK</class>
		<class>es.ine.iria.db.Dominio</class>
		<class>es.ine.iria.db.DominioIdioma</class>
		<class>es.ine.iria.db.DominioIdiomaPK</class>
		<class>es.ine.iria.db.DominioUrl</class>
		<class>es.ine.iria.db.DominioUrlPK</class>
		<class>es.ine.iria.db.DynamicList</class>
		<class>es.ine.iria.db.ElementoGuion</class>
		<class>es.ine.iria.db.EmisorCertificado</class>
		<class>es.ine.iria.db.Encuesta</class>
		<class>es.ine.iria.db.EncuestaCapi</class>
		<class>es.ine.iria.db.EncuestaCati</class>
		<class>es.ine.iria.db.EncuestaCawi</class>
		<class>es.ine.iria.db.EncuestaCawiEnlace</class>
		<class>es.ine.iria.db.EncuestaCawiEnlaceIdioma</class>
		<class>es.ine.iria.db.EncuestaCawiEnlaceIdiomaPK</class>
		<class>es.ine.iria.db.EncuestaCawiIdiomaPK</class>
		<class>es.ine.iria.db.EncuestaCawiIdioma</class>
		<class>es.ine.iria.db.EncuestaCawiTipoMimeOtro</class>
		<class>es.ine.iria.db.EncuestaCawiTipoMimeOtroPK</class>
		<class>es.ine.iria.db.EncuestaCorreo</class>
		<class>es.ine.iria.db.EncuestaIdioma</class>
		<class>es.ine.iria.db.EncuestaIdiomaPK</class>
		<class>es.ine.iria.db.EncuestaMetodoRecogida</class>
		<class>es.ine.iria.db.EncuestaMetodoRecogidaPK</class>
		<class>es.ine.iria.db.EncuestaMetodoRecogidaUsuarioNivel3</class>
		<class>es.ine.iria.db.EncuestaMetodoRecogidaUsuarioNivel3PK</class>
		<class>es.ine.iria.db.EncuestaPapi</class>
		<class>es.ine.iria.db.EncuestaTraduccion</class>
		<class>es.ine.iria.db.EncuestaTraduccionPK</class>
		<class>es.ine.iria.db.EncuestaUnidadRecogida</class>
		<class>es.ine.iria.db.EncuestaUnidadRecogidaPK</class>
		<class>es.ine.iria.db.EncuestaUsuarioNivel1</class>
		<class>es.ine.iria.db.EncuestaUsuarioNivel1PK</class>
		<class>es.ine.iria.db.EncuestaUsuarioNivel3</class>
		<class>es.ine.iria.db.EncuestaUsuarioNivel3PK</class>
		<class>es.ine.iria.db.EncuMereBusquedaExterna</class>
		<class>es.ine.iria.db.EncuMereBusquedaExternaPK</class>
		<class>es.ine.iria.db.EnvioAdjunto</class>
		<class>es.ine.iria.db.EnvioAdjuntoFichero</class>
		<class>es.ine.iria.db.EnvioMasivo</class>
		<class>es.ine.iria.db.EnvioMasivoEmail</class>
		<class>es.ine.iria.db.EnvioMasivoFax</class>
		<class>es.ine.iria.db.EspacioTemporal</class>
		<class>es.ine.iria.db.EsquemaGuion</class>
		<class>es.ine.iria.db.EstadoCita</class>
		<class>es.ine.iria.db.EstadoLlamadaCati</class>
		<class>es.ine.iria.db.EstadoMetaEstado</class>
		<class>es.ine.iria.db.EstadoMetaEstadoPK</class>
		<class>es.ine.iria.db.EstadoPortal</class>
		<class>es.ine.iria.db.EstadoPortalPK</class>		
		<class>es.ine.iria.db.EstadoSolicitud</class>
		<class>es.ine.iria.db.EstadoWorkflow</class>
		<class>es.ine.iria.db.EstratoEncuesta</class>
		<class>es.ine.iria.db.EstratoEncuestaIdioma</class>
		<class>es.ine.iria.db.EstratoEncuestaIdiomaPK</class>
		<class>es.ine.iria.db.ErrorAplicacion</class>
		<class>es.ine.iria.db.ErrorEntrevistaFinalizada</class>
		<class>es.ine.iria.db.ErrorEntrevistaFinalizadaPK</class>
		<class>es.ine.iria.db.ExportacionEntrevista</class>
		<class>es.ine.iria.db.Fichero</class>
		<class>es.ine.iria.db.FicheroBlob</class>
		<class>es.ine.iria.db.FicheroCarga</class>
		<class>es.ine.iria.db.FicheroPLEnvioEncuesta</class>
		<class>es.ine.iria.db.FicheroPLEnvioEncuestaPK</class>
		<class>es.ine.iria.db.FicheroTPAlmacen</class>
		<class>es.ine.iria.db.FicheroTPAlmacenPK</class>
		<class>es.ine.iria.db.FicheroWebService</class>
		<class>es.ine.iria.db.FiltroRegistro</class>
		<class>es.ine.iria.db.Firma</class>
		<class>es.ine.iria.db.FirmaIdioma</class>
		<class>es.ine.iria.db.FirmaIdiomaPK</class>		
		<class>es.ine.iria.db.FormatoCuestionario</class>
		<class>es.ine.iria.db.Geolocalizacion</class>
		<class>es.ine.iria.db.GeolocalizacionDispositivoCapi</class>
		<class>es.ine.iria.db.GeolocalizacionEconomica</class>
		<class>es.ine.iria.db.GeolocalizacionOtraEntidad</class>
		<class>es.ine.iria.db.GeolocalizacionPersona</class>
		<class>es.ine.iria.db.GeolocalizacionVivienda</class>
		<class>es.ine.iria.db.GestionLote</class>
		<class>es.ine.iria.db.GestionLotePK</class>
		<class>es.ine.iria.db.GestionNumCuest</class>
		<class>es.ine.iria.db.GestionNumCuestPK</class>
		<class>es.ine.iria.db.GestionUmeCuesIdioma</class>
		<class>es.ine.iria.db.GestionUmeCuesIdiomaPK</class>
		<class>es.ine.iria.db.GestionUmeCuestionario</class>
		<class>es.ine.iria.db.GestionUmeCuestionarioCapi</class>
		<class>es.ine.iria.db.GestionUmeCuestionarioCati</class>
		<class>es.ine.iria.db.GestionUmeCuestionarioCawi</class>
		<class>es.ine.iria.db.GestionUmeCuestionarioCorreo</class>
		<class>es.ine.iria.db.GestionUmeCuestionarioPapi</class>
		<class>es.ine.iria.db.GestionUmeCuesWorkflow</class>
		<class>es.ine.iria.db.GestionUmeCuesWorkflowPK</class>
		<class>es.ine.iria.db.GestionUsuarioMere</class>
		<class>es.ine.iria.db.GestionUsuarioMerePK</class>
		<class>es.ine.iria.db.GrupoAccion</class>
		<class>es.ine.iria.db.GrupoAuxiliar</class>
		<class>es.ine.iria.db.Guion</class>
		<class>es.ine.iria.db.GuionBase</class>
		<class>es.ine.iria.db.HabitoPregunta</class>
		<class>es.ine.iria.db.HabitoPreguntaIdioma</class>
		<class>es.ine.iria.db.HabitoPreguntaIdiomaPK</class>
		<class>es.ine.iria.db.HabitoRespuesta</class>
		<class>es.ine.iria.db.HabitoRespuestaIdioma</class>
		<class>es.ine.iria.db.HabitoRespuestaIdiomaPK</class>
		<class>es.ine.iria.db.HabitoUme</class>
		<class>es.ine.iria.db.HabitoUmePK</class>
		<class>es.ine.iria.db.HistoricoAccion</class>
		<class>es.ine.iria.db.HistoricoEnvio</class>
		<class>es.ine.iria.db.HistoricoEnvioGestion</class>
		<class>es.ine.iria.db.HistoricoEnvioGestionPK</class>
		<class>es.ine.iria.db.HistoricoLlamadaCati</class>
		<class>es.ine.iria.db.HojaEstiloCapi</class>
		<class>es.ine.iria.db.HojaEstiloCapiIdioma</class>
		<class>es.ine.iria.db.HojaEstiloCapiIdiomaPK</class>
		<class>es.ine.iria.db.Idioma</class>
		<class>es.ine.iria.db.IdiomaDescripcionTabla</class>
		<class>es.ine.iria.db.Informante</class>
		<class>es.ine.iria.db.InformeSas</class>
		<class>es.ine.iria.db.InformeSasIdioma</class>
		<class>es.ine.iria.db.InformeSasIdiomaPK</class>
		<class>es.ine.iria.db.InformeSasRol</class>
		<class>es.ine.iria.db.InformeSasRolPK</class>
		<class>es.ine.iria.db.InspeccionAcap</class>
		<class>es.ine.iria.db.InspeccionAcapPK</class>
		<class>es.ine.iria.db.InspeccionEncuestaMetodoRecogida</class>
		<class>es.ine.iria.db.InspeccionEncuestaMetodoRecogidaPK</class>
		<class>es.ine.iria.db.JnlpAplicacion</class>
		<class>es.ine.iria.db.JnlpCategoriaAplicacion</class>
		<class>es.ine.iria.db.JnlpFichero</class>
		<class>es.ine.iria.db.JnlpGrupo</class>
		<class>es.ine.iria.db.JnlpGrupoUsuario</class>
		<class>es.ine.iria.db.JnlpGrupoUsuarioPK</class>
		<class>es.ine.iria.db.JnlpKit</class>
		<class>es.ine.iria.db.JnlpKitFichero</class>
		<class>es.ine.iria.db.JPACurrentState</class>
		<class>es.ine.iria.db.JPAHistory</class>
		<class>es.ine.iria.db.JPAVariableType</class>
		<class>es.ine.iria.db.JPAVariable</class>
		<class>es.ine.iria.db.JPAVariablePK</class>
		<class>es.ine.iria.db.JPAWorkflow</class>
		<class>es.ine.iria.db.JPAWorkflowClass</class>
		<class>es.ine.iria.db.Llamada900</class>
		<class>es.ine.iria.db.Llamada900Encuesta</class>
		<class>es.ine.iria.db.Llamada900Generica</class>
		<class>es.ine.iria.db.LenguajeEjecucion</class>
		<class>es.ine.iria.db.LiteralAplicacion</class>
		<class>es.ine.iria.db.LiteralAplicacionIdioma</class>
		<class>es.ine.iria.db.LiteralAplicacionIdiomaPK</class>
		<class>es.ine.iria.db.LiteralAplicacionPK</class>
		<class>es.ine.iria.db.Lote</class>
		<class>es.ine.iria.db.MantenimientoGenerado</class>
		<class>es.ine.iria.db.MarcaDispositivo</class>
		<class>es.ine.iria.db.MecanismoSustitucion</class>
		<class>es.ine.iria.db.Mensaje</class>
		<class>es.ine.iria.db.MenuEncuestaGuion</class>
		<class>es.ine.iria.db.MenuEncuestaGuionIdioma</class>
		<class>es.ine.iria.db.MenuEncuestaGuionIdiomaPK</class>
		<class>es.ine.iria.db.MenuEncuestaGuionRol</class>
		<class>es.ine.iria.db.MenuEncuestaGuionRolPk</class>
		<class>es.ine.iria.db.MenuEncuestaPlantillaRol</class>
		<class>es.ine.iria.db.MenuEncuestaPlantillaRolPk</class>
		<class>es.ine.iria.db.MenuEncuestaPlantilla</class>
		<class>es.ine.iria.db.MenuEncuestaPlantillaIdioma</class>
		<class>es.ine.iria.db.MenuEncuestaPlantillaIdiomaPK</class>		
		<class>es.ine.iria.db.MetaEstado</class>
		<class>es.ine.iria.db.MetaEstadoValor</class>
		<class>es.ine.iria.db.MetaEstadoValorPK</class>
		<class>es.ine.iria.db.MetaImagine</class>
		<class>es.ine.iria.db.MetaTransicion</class>
		<class>es.ine.iria.db.MetaTransicionValor</class>
		<class>es.ine.iria.db.MetaTransicionValorPK</class>
		<class>es.ine.iria.db.MetodoRecogida</class>
		<class>es.ine.iria.db.MetodoRecogidaCuestionario</class>
		<class>es.ine.iria.db.MetodoRecogidaCuestionarioIdioma</class>
		<class>es.ine.iria.db.MetodoRecogidaCuestionarioIdiomaPK</class>
		<class>es.ine.iria.db.MetodoRecogidaCuestionarioPK</class>
		<class>es.ine.iria.db.MimeType</class>
		<class>es.ine.iria.db.ModoCarga</class>
		<class>es.ine.iria.db.ModoIntroduccionElemento</class>
		<class>es.ine.iria.db.MomentoErrorCuestionario</class>
		<class>es.ine.iria.db.Moneda</class>
		<class>es.ine.iria.db.MonedaIdioma</class>
		<class>es.ine.iria.db.MonedaIdiomaPK</class>
		<class>es.ine.iria.db.MotivoDevolucion</class>
		<class>es.ine.iria.db.MunicipioPK</class>
		<class>es.ine.iria.db.Municipio</class>
		<class>es.ine.iria.db.NivelRol</class>
		<class>es.ine.iria.db.OperacionTransicion</class>
		<class>es.ine.iria.db.OperacionTransicionPK</class>
		<class>es.ine.iria.db.OtrosDatosCodigos</class>
		<class>es.ine.iria.db.OtrosDatosGecu</class>
		<class>es.ine.iria.db.OtrosDatosGecuPK</class>
		<class>es.ine.iria.db.OtrosDatosUme</class>
		<class>es.ine.iria.db.OtrosDatosUmePK</class>
		<class>es.ine.iria.db.Pais</class>
		<class>es.ine.iria.db.ParametroBusquedaExterna</class>
		<class>es.ine.iria.db.ParametroCanal</class>
		<class>es.ine.iria.db.ParametroFuncion</class>
		<class>es.ine.iria.db.ParametroFuncionPK</class>
		<class>es.ine.iria.db.ParametroSistema</class>
		<class>es.ine.iria.db.PeriodicidadEncuesta</class>
		<class>es.ine.iria.db.PeriodicidadEncuestaIdioma</class>
		<class>es.ine.iria.db.PeriodicidadEncuestaIdiomaPK</class>
		<class>es.ine.iria.db.Periodo</class>
		<class>es.ine.iria.db.PeriodoPK</class>
		<class>es.ine.iria.db.PeriodoIdioma</class>
		<class>es.ine.iria.db.PeriodoIdiomaPK</class>
		<class>es.ine.iria.db.PermisoAdicional</class>
		<class>es.ine.iria.db.PermisoAdicionalPK</class>
		<class>es.ine.iria.db.PeticionRotacion</class>
		<class>es.ine.iria.db.PlantillaCawi</class>
		<class>es.ine.iria.db.PlantillaCawiIdioma</class>
		<class>es.ine.iria.db.PlantillaCawiIdiomaDominio</class>
		<class>es.ine.iria.db.PlantillaCawiIdiomaDominioPK</class>
		<class>es.ine.iria.db.PlantillaCawiIdiomaPK</class>
		<class>es.ine.iria.db.PlantillaComponenteEncuesta</class>
		<class>es.ine.iria.db.PlantillaComponenteEncuestaPK</class>
		<class>es.ine.iria.db.PlantillaEnvioEncuesta</class>
		<class>es.ine.iria.db.PlantillaEnvioEncuIdioma</class>
		<class>es.ine.iria.db.PlantillaEnvioEncuIdiomaPK</class>
		<class>es.ine.iria.db.PlantillaImpresionEtiqueta</class>
		<class>es.ine.iria.db.PlantillaListaAzul</class>
		<class>es.ine.iria.db.PlantillaListaAzulEncuesta</class>
		<class>es.ine.iria.db.PlantillaListaAzulEncuestaPK</class>
		<class>es.ine.iria.db.PlantillaListaAzulIdioma</class>
		<class>es.ine.iria.db.PlantillaListaAzulIdiomaPK</class>
		<class>es.ine.iria.db.PlantillaLote</class>
		<class>es.ine.iria.db.PlantillaLoteEncuesta</class>
		<class>es.ine.iria.db.PlantillaLoteIdioma</class>
		<class>es.ine.iria.db.PlantillaLoteIdiomaPK</class>
		<class>es.ine.iria.db.PlantillaUme</class>
		<class>es.ine.iria.db.PlantillaUmePK</class>
		<class>es.ine.iria.db.PlantillaUmeEncuesta</class>
		<class>es.ine.iria.db.PlantillaUmeEncuestaPK</class>
		<class>es.ine.iria.db.PlantillaUmeEncuestaMere</class>
		<class>es.ine.iria.db.PlantillaUmeEncuestaMerePK</class>
		<class>es.ine.iria.db.PlantillaWorkflowEncuesta</class>
		<class>es.ine.iria.db.PlantillaWorkflowEncuestaPK</class>
		<class>es.ine.iria.db.PreferenciaEnvio</class>
		<class>es.ine.iria.db.ProcesoCarga</class>
		<class>es.ine.iria.db.Producto</class>
		<class>es.ine.iria.db.ProductoE</class>
		<class>es.ine.iria.db.ProductoEIdioma</class>
		<class>es.ine.iria.db.ProductoEIdiomaPK</class>
		<class>es.ine.iria.db.ProductoEncuesta</class>
		<class>es.ine.iria.db.ProductoEncuestaConf</class>
		<class>es.ine.iria.db.ProductoEncuestaPK</class>
		<class>es.ine.iria.db.ProductoEPK</class>
		<class>es.ine.iria.db.ProductoIdioma</class>
		<class>es.ine.iria.db.ProductoIdiomaPK</class>
		<class>es.ine.iria.db.ProductoO</class>
		<class>es.ine.iria.db.ProductoOPK</class>
		<class>es.ine.iria.db.ProductoPK</class>
		<class>es.ine.iria.db.ProductorElemento</class>
		<class>es.ine.iria.db.ProductoX</class>
		<class>es.ine.iria.db.ProductoXIdioma</class>
		<class>es.ine.iria.db.ProductoXIdiomaPK</class>
		<class>es.ine.iria.db.ProductoXPK</class>
		<class>es.ine.iria.db.Provincia</class>
		<class>es.ine.iria.db.Proyecto</class>
		<class>es.ine.iria.db.RealizadorRecogida</class>
		<class>es.ine.iria.db.RegistroDevolucionDocumento</class>
		<class>es.ine.iria.db.RegistroEntradaDocumento</class>
		<class>es.ine.iria.db.RegistroFicheroWebService</class>
		<class>es.ine.iria.db.RegistroFicheroWebServicePK</class>
		<class>es.ine.iria.db.RegistroFuncion</class>
		<class>es.ine.iria.db.RegistroFuncionUsuario</class>
		<class>es.ine.iria.db.RegistroFuncionUsuarioPK</class>
		<class>es.ine.iria.db.RegistroMercantil</class>
		<class>es.ine.iria.db.RegistroSalidaDocumento</class>
		<class>es.ine.iria.db.RegistroUsuario</class>
		<class>es.ine.iria.db.RegistroWebService</class>
		<class>es.ine.iria.db.ResultadoExportacion</class>
		<class>es.ine.iria.db.Rol</class>
		<class>es.ine.iria.db.RolAsignacion</class>
		<class>es.ine.iria.db.RolAsignacionPK</class>
		<class>es.ine.iria.db.RolPermiso</class>
		<class>es.ine.iria.db.RolPermisoPK</class>
		<class>es.ine.iria.db.RolRegistroFuncionEmer</class>
		<class>es.ine.iria.db.RolRegistroFuncionEmerPK</class>
		<class>es.ine.iria.db.RolTareaCati</class>
		<class>es.ine.iria.db.RolTareaCatiPK</class>
		<class>es.ine.iria.db.SancionBuzonIria</class>
		<class>es.ine.iria.db.SancionBuzonPS</class>
		<class>es.ine.iria.db.SancionCuantia</class>
		<class>es.ine.iria.db.SancionEstado</class>
		<class>es.ine.iria.db.SancionIria</class>
		<class>es.ine.iria.db.SancionMotivoDevolucion</class>
        <class>es.ine.iria.db.SecuenciaSincronizacion</class>
        <class>es.ine.iria.db.SecuenciaSincronizacionDispositivo</class>
        <class>es.ine.iria.db.SecuenciaSincronizacionDispositivoPK</class>
        <class>es.ine.iria.db.SancionTipoOperacion</class>
		<class>es.ine.iria.db.ServicioDispositivo</class>
		<class>es.ine.iria.db.ServicioDispositivoPK</class>
		<class>es.ine.iria.db.SignoPermiso</class>
		<class>es.ine.iria.db.SimLista</class>
		<class>es.ine.iria.db.SimPregunta</class>
		<class>es.ine.iria.db.SincronizacionDispositivo</class>
		<class>es.ine.iria.db.SistemaOperativo</class>
		<class>es.ine.iria.db.SituacionCarga</class>
		<class>es.ine.iria.db.SolicitudCambioCanal</class>
		<class>es.ine.iria.db.SolicitudCambioEstado</class>
		<class>es.ine.iria.db.SolicitudCambioUR</class>
		<class>es.ine.iria.db.SolicitudRecuperacion</class>
		<class>es.ine.iria.db.SubformatoCuestionario</class>
		<class>es.ine.iria.db.SubformatoCuestionarioPK</class>
		<class>es.ine.iria.db.Tabla</class>
		<class>es.ine.iria.db.TablaAuxiliar</class>
		<class>es.ine.iria.db.TablaIdioma</class>
		<class>es.ine.iria.db.TablaIdiomaPK</class>
		<class>es.ine.iria.db.TablaLimpiar</class>
		<class>es.ine.iria.db.TablaLimpiarAux</class>
		<class>es.ine.iria.db.TareaBaseDatos</class>
		<class>es.ine.iria.db.TareaBaseDatosConsulta</class>
		<class>es.ine.iria.db.TareaBaseDatosConsultaParam</class>
		<class>es.ine.iria.db.TareaBaseDatosConsultaParamPK</class>
		<class>es.ine.iria.db.TareaBaseDatosConsultaPK</class>
		<class>es.ine.iria.db.TareaCati</class>
		<class>es.ine.iria.db.TareaCatiIdioma</class>
		<class>es.ine.iria.db.TareaCatiIdiomaPK</class>
		<class>es.ine.iria.db.TarjetaSim</class>
		<class>es.ine.iria.db.TipoAccesoVariable</class>
		<class>es.ine.iria.db.TipoAsignacionEntrevista</class>
		<class>es.ine.iria.db.TipoAsuntoContactoCawi</class>
		<class>es.ine.iria.db.TipoCampoAuxiliar</class>
		<class>es.ine.iria.db.TipoCita</class>
		<class>es.ine.iria.db.TipoCitaEmer</class>
		<class>es.ine.iria.db.TipoCitaEmerPK</class>
		<class>es.ine.iria.db.TipoDestinatario</class>
		<class>es.ine.iria.db.TipoDestinatarioPK</class>
		<class>es.ine.iria.db.TipoDispositivo</class>
		<class>es.ine.iria.db.TipoEncuesta</class>
		<class>es.ine.iria.db.TipoEncuestaIdioma</class>
		<class>es.ine.iria.db.TipoEncuestaIdiomaPK</class>
		<class>es.ine.iria.db.TipoEnvio</class>
		<class>es.ine.iria.db.TipoEnvioEmer</class>
		<class>es.ine.iria.db.TipoEnvioEmerPK</class>
		<class>es.ine.iria.db.TipoEnvioPlantillaEmer</class>
		<class>es.ine.iria.db.TipoEnvioPlantillaEmerPK</class>
		<class>es.ine.iria.db.TipoEnvioPlantillaEncu</class>
		<class>es.ine.iria.db.TipoEnvioPlantillaEncuPK</class>
		<class>es.ine.iria.db.TipoErrorEntrevista</class>
		<class>es.ine.iria.db.TipoEstadoBolsa</class>
		<class>es.ine.iria.db.TipoFirma</class>
		<class>es.ine.iria.db.TipoGuion</class>
		<class>es.ine.iria.db.TipoIdentificacionPersona</class>
		<class>es.ine.iria.db.TipoInformanteEncuesta</class>
		<class>es.ine.iria.db.TipoInformanteEncuestaPK</class>
		<class>es.ine.iria.db.TipoInspeccion</class>
		<class>es.ine.iria.db.TipoInspeccionEncuestaMetodoRecogida</class>
		<class>es.ine.iria.db.TipoInspeccionEncuestaMetodoRecogidaPK</class>
		<class>es.ine.iria.db.TipoLlamada900</class>
		<class>es.ine.iria.db.TipoLlamada900Encuesta</class>
		<class>es.ine.iria.db.TipoLlamada900EncuestaIdioma</class>
		<class>es.ine.iria.db.TipoLlamada900EncuestaIdiomaPK</class>
		<class>es.ine.iria.db.TipoLlamada900EncuestaPK</class>
		<class>es.ine.iria.db.TipoLlamada900Idioma</class>
		<class>es.ine.iria.db.TipoLlamada900IdiomaPK</class>
		<class>es.ine.iria.db.TipoLote</class>
		<class>es.ine.iria.db.TipoLoteIdioma</class>
		<class>es.ine.iria.db.TipoLoteIdiomaPK</class>
		<class>es.ine.iria.db.TipoLotePK</class>
		<class>es.ine.iria.db.TipoMimeCarga</class>
		<class>es.ine.iria.db.TipoMimeWebService</class>
		<class>es.ine.iria.db.TipoNumeracion</class>
		<class>es.ine.iria.db.TipoOrigenTelefono</class>
		<class>es.ine.iria.db.TipoOtraEntidad</class>
		<class>es.ine.iria.db.TipoProcesoCarga</class>
		<class>es.ine.iria.db.TipoSustitucion</class>
		<class>es.ine.iria.db.TipoUnidadMuestral</class>
		<class>es.ine.iria.db.TipoUmEconomica</class>
		<class>es.ine.iria.db.TipoUmeGestionCarga</class>
		<class>es.ine.iria.db.TipoUmIdioma</class>
		<class>es.ine.iria.db.TipoUmIdiomaPK</class>
		<class>es.ine.iria.db.TransicionEstado</class>
		<class>es.ine.iria.db.TransicionMetaTransicion</class>
		<class>es.ine.iria.db.TransicionMetaTransicionPK</class>
		<class>es.ine.iria.db.TransicionWorkflow</class>
		<class>es.ine.iria.db.TrazaDemonio</class>
		<class>es.ine.iria.db.TPAlmacen</class>
		<class>es.ine.iria.db.TurnoCati</class>
		<class>es.ine.iria.db.UmagUmec</class>
		<class>es.ine.iria.db.UmagUmecPK</class>
		<class>es.ine.iria.db.UmeEconomica</class>
		<class>es.ine.iria.db.UmePersona</class>
		<class>es.ine.iria.db.Ume</class>
		<class>es.ine.iria.db.UmeGestoriaEconomica</class>
		<class>es.ine.iria.db.UmeModificacion</class>
		<class>es.ine.iria.db.UmeSustitucion</class>
		<class>es.ine.iria.db.UmeUsuarioWeb</class>
		<class>es.ine.iria.db.UmeUsuarioWebPK</class>
		<class>es.ine.iria.db.UmeVivienda</class>
		<class>es.ine.iria.db.UmeObservacion</class>
		<class>es.ine.iria.db.UmeObservacionPK</class>
		<class>es.ine.iria.db.UmeOtraEntidad</class>
		<class>es.ine.iria.db.UmAgrupacionEmpresa</class>
		<class>es.ine.iria.db.UmEconomica</class>
		<class>es.ine.iria.db.UmEconomicaLastMod</class>
		<class>es.ine.iria.db.UmInterlocutorEconomica</class>
		<class>es.ine.iria.db.UmInterlocutorEconomicaLastMod</class>
		<class>es.ine.iria.db.UmLocalizacionEconomica</class>
		<class>es.ine.iria.db.UmLocalizacionEconomicaLastMod</class>
		<class>es.ine.iria.db.UmOtraEntidad</class>
		<class>es.ine.iria.db.UmOtraEntidadLastMod</class>
		<class>es.ine.iria.db.UmPersona</class>
		<class>es.ine.iria.db.UmPersonaLastMod</class>
		<class>es.ine.iria.db.UmTamesEconomica</class>
		<class>es.ine.iria.db.UmVivienda</class>
		<class>es.ine.iria.db.UmViviendaLastMod</class>
		<class>es.ine.iria.db.UnidadMedida</class>
		<class>es.ine.iria.db.UnidadMedidaIdioma</class>
		<class>es.ine.iria.db.UnidadMedidaIdiomaPK</class>
		<class>es.ine.iria.db.UnidadRecogida</class>
		<class>es.ine.iria.db.UnidadRecogidaEncuesta</class>
		<class>es.ine.iria.db.UnidadRecogidaEncuestaPK</class>
		<class>es.ine.iria.db.UnidadRecogidaFirma</class>
		<class>es.ine.iria.db.UnidadRecogidaFirmaPK</class>
		<class>es.ine.iria.db.UsuarioInterno</class>
		<class>es.ine.iria.db.UsuarioInternoEncuesta</class>
		<class>es.ine.iria.db.UsuarioInternoEncuestaPK</class>
		<class>es.ine.iria.db.UsuarioInternoIdioma</class>
		<class>es.ine.iria.db.UsuarioInternoIdiomaPK</class>
		<class>es.ine.iria.db.UsuarioInternoMetodoRecogidaEncuesta</class>
		<class>es.ine.iria.db.UsuarioInternoMetodoRecogidaEncuestaPK</class>
		<class>es.ine.iria.db.UsuarioInternoUnidadRecogida</class>
		<class>es.ine.iria.db.UsuarioInternoUnidadRecogidaPK</class>
		<class>es.ine.iria.db.UsuarioWeb</class>
		<class>es.ine.iria.db.UsuarioLoginCati</class>
		<class>es.ine.iria.db.UsuarioLoginCatiPK</class>
		<class>es.ine.iria.db.UsuariosInconsistentesNivel3</class>
		<class>es.ine.iria.db.UsuariosInconsistentesNivel3PK</class>
		<class>es.ine.iria.db.ValorAuxiliar</class>
		<class>es.ine.iria.db.ValorAuxiliarPK</class>
		<class>es.ine.iria.db.VariableAuxiliar</class>
		<class>es.ine.iria.db.VariableAuxiliarPK</class>
		<class>es.ine.iria.db.VersionDesigner</class>
		<class>es.ine.iria.db.VersionGuion</class>
		<class>es.ine.iria.db.VersionGuionFichero</class>
		<class>es.ine.iria.db.VersionGuionFicheroPK</class>
		<class>es.ine.iria.db.VersionGuionTabla</class>
		<class>es.ine.iria.db.VersionGuionTablaDdl</class>
		<class>es.ine.iria.db.VersionGuionTablaPK</class>
		<class>es.ine.iria.db.VersionGuionValidacion</class>
		<class>es.ine.iria.db.VersionGuionValidacionPK</class>
		<class>es.ine.iria.db.VersionMotor</class>
		<class>es.ine.iria.db.VisibilidadElemento</class>
		<class>es.ine.iria.db.VistaTransicion</class>
		<class>es.ine.iria.db.VistaTransicionPK</class>
		<class>es.ine.iria.db.Listado</class>
		<class>es.ine.iria.db.ListadoEncuesta</class>
		<class>es.ine.iria.db.ListadoEncuestaPK</class>
		<class>es.ine.iria.db.ListadoIdioma</class>
		<class>es.ine.iria.db.ListadoIdiomaPK</class>
		<class>es.ine.iria.db.RolListado</class>
		<class>es.ine.iria.db.RolListadoPK</class>
		<class>es.ine.iria.db.ConsultaBusinessIntelligence</class>
		<class>es.ine.iria.db.ConsultaBusinessIntelligenceIdioma</class>
		<class>es.ine.iria.db.ConsultaBusinessIntelligenceIdiomaPK</class>
		<class>es.ine.iria.db.RolConsultaBusinessIntelligence</class>
		<class>es.ine.iria.db.RolConsultaBusinessIntelligencePK</class>
		<class>es.ine.iria.db.BandejaDefault</class>
		<class>es.ine.iria.db.BandejaDefaultPK</class>
		<class>es.ine.iria.db.JPAWorkflowClassIdioma</class>
		<class>es.ine.iria.db.JPAWorkflowClassIdiomaPK</class>
		<class>es.ine.iria.db.TareaWorkflow</class>
		<class>es.ine.iria.db.TareaWorkflowParametro</class>
		<class>es.ine.iria.db.TareaWorkflowParametroPK</class>
		<class>es.ine.iria.db.TareaWorkflowRegistro</class>
		<class>es.ine.iria.db.TareaInstanciarWorkflow</class>
		<class>es.ine.iria.db.TareaInstanciarWorkflowGestion</class>
		<class>es.ine.iria.db.TareaInstanciarWorkflowRegistro</class>
		<class>es.ine.iria.db.YCCAA</class>
		<class>es.ine.iria.db.YCNAE2009</class>
		<class>es.ine.iria.db.YCNAE2009Completo</class>

		<exclude-unlisted-classes/>
		<!-- Permite desactivar la cache a nivel de entidad con la anotación @Cacheable(false) -->
		<shared-cache-mode>DISABLE_SELECTIVE</shared-cache-mode>
		<properties>
			<!-- Workaround para que se pueda utilizar un nombre JNDI local en jta-data-source con OpenJPA -->
			<property name="jboss.as.jpa.classtransformer" value="false"/>

			<property name="jboss.as.jpa.providerModule" value="org.apache.openjpa" />

			<property name="openjpa.DynamicEnhancementAgent" value="false"/>
			<property name="openjpa.TransactionMode" value="managed"/>
			<property name="openjpa.ManagedRuntime" value="jndi(TransactionManagerName=java:/TransactionManager)"/>

			<!-- Necesario en JBoss EAP 6.1+ y Wildfly 8+ para que no utilice JBossPersistenceMetaDataFactory -->
			<property name="openjpa.MetaDataFactory" value="jpa"/>

			<!-- Evitar que se ejecute un ALTER SEQUENCE al utilizar una secuencia definida con @SequenceGenerator -->
			<property name="openjpa.jdbc.DBDictionary" value="DisableAlterSeqenceIncrementBy=true" />

			<!-- Utilizar log4j -->
			<property name="openjpa.Log" value="log4j" />
			<!--
			<property name="openjpa.ConnectionFactoryProperties" value="PrettyPrint=true, PrettyPrintLineLength=72, PrintParameters=false"/>
			-->

			<property name="openjpa.QueryCache" value="ehcache(UseJMS=true)" /> 
			<property name="openjpa.RemoteCommitProvider" value="none"/> 
			<property name="openjpa.DataCacheManager" value="ehcache" />
			<property name="openjpa.DataCache" value="ehcache(UseDefaultForUnnamedCaches=false,DefaultName=openjpa,UseJMS=true,EvictOnBulkUpdate=true)"/> 
		</properties>
	</persistence-unit>
</persistence>
